{% extends 'base.html.twig'%}

{% block title %}Liste des Partenaires{% endblock %}


{% block body %}
 <div class="row">
    <div class="col-md-3">
        {% include 'partner/_filter.html.twig'%}
    </div> 
</div>  
    <div class="container mt-4">
        <h1>Nos partenaires</h1>
        <div class ="row">
            <div class="col-md-4">
                {% for partner in partners %}
                    {% include 'partner/_partner.html.twig'%}
                {% endfor %}
            </div>    
        </div>
        <div class="pagination">
            {{ knp_pagination_render(partners) }}
        </div>
    </div>  
{% endblock %}