{% extends 'base.html.twig'%}

{% block title partner.name %}


{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <h1>{{partner.name}}</h1>
                <div class="text-primary" style="font-size:2rem; font-weight:bold;">{{partner.commercialContact}}</div>
                <div>{{partner.email}}</div>
            </div>
        </div> 
        <p>
            {{ partner.description |nl2br }}
        </p>  

        <div class="row">
            <div class="col-md-8">
                <table class="table table-stripped">
                </table>
            </div>

        </div>
        <nav class="nav nav-tabs" id="tab"></nav>  
    </div>
{% endblock %}


