{% extends 'base.html.twig'%}

{% block title %}Kairos Fit{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Kairos Fit<h1>
    <p>Votre temps, votre moment, votre fitness</p>
</div>
{% endblock %}