<form method="post" action="{{ path('admin_partner_delete', {'id': partner.id}) }}" style="display:inline-block" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer ce partnaire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
