{% extends 'base.html.twig' %}

{% block title %}Nouveau Partenaire{% endblock %}

{% block body %}
    <h1>Créer un nouveau partenaire</h1>
<div class=".container-fluid">
    
    <div class="row">
        <div class="col-6 col-sm-4">
            <div class="col">
                {{ include('admin/partner/_form.html.twig') }}
            </div>
            <div class="col-6 .col-sm-4">
                <a href="{{ path('app_admin_partner_index') }}" class="btn btn-dark">Retour à la liste</a>
            </div> 
        </div> 
    </div>
</div>
    
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}
